# Supplement A: Synthetic Experiments

This notebook reads in the results from the synthetic experiments, and creates the relevant Tables in Appendix A.

Note that the semi-synthetic experiment is not included here, because it is not reproducible without access to the original data.

In [ ]:
result_str = 'grid_search.+'
base_dir = "../results"

In [ ]:
import pandas as pd
import numpy as np
import os
import re

from hp_analysis import get_data

In [ ]:
files = ["{}/{}".format(base_dir, f) for f in os.listdir(base_dir) if re.match(result_str, f)]

In [ ]:
df_all = pd.concat([get_data(f)[0] for f in files], axis=0, ignore_index=True, sort=True)

In [ ]:
def df_values_to_str(df):
    for row in df.values:
        this_row_str = " & ".join(str(i) for i in row.tolist())
        this_row_str += "\\\\"
        print(this_row_str)

## Table S1

In [ ]:
this_df = pd.pivot_table(
        data=df_all,
        values=['id_exclusion_rr'],
        columns='B').round(2)

In [ ]:
this_df

In [ ]:
df_values_to_str(this_df)

**Claim**: In this experiment, every time the LP identifies the correct rule, that rule is also picked up in the rounded rules.

In [11]:
assert(abs(df_all['id_exclusion_lp'] - df_all['id_exclusion_rr']).sum() == 0)

## Table S2a-S2c

In [19]:
# Table S2a
this_df = pd.pivot_table(
        data=df_all.query('B==15'),
        values=['id_exclusion_rr'],
        index='alpha',
        columns='lambda1').round(2)
this_df
# df_values_to_str(this_df)

        id_exclusion_rr
lambda1        0.000001 0.000100 0.010000
alpha
0.95                  1        1        0
0.96                  1        1        0
0.97                  1        1        1
0.98                  1        1        1
0.99                  1        1        1

In [20]:
# Table S2b

this_df = pd.pivot_table(
        data=df_all.query('B==15'),
        values=['n_rules'],
        index='alpha',
        columns='lambda1').round(2)
this_df

         n_rules
lambda1 0.000001 0.000100 0.010000
alpha
0.95       23.67    15.75     5.00
0.96       35.58    33.33     4.00
0.97       39.83    31.92     4.00
0.98       44.17    47.17    23.83
0.99       31.42    31.25    27.67

In [17]:
# df_values_to_str(this_df)

In [16]:
# Table S2c
this_df = pd.pivot_table(
        data=df_all.query('B==15'),
        values=['rule_n_perfect'],
        index='alpha',
        columns='lambda1').round(2)
this_df
#df_values_to_str(this_df)

        rule_n_perfect
lambda1       0.000001 0.000100 0.010000
alpha
0.95             12.50     9.25     0.00
0.96             20.75    18.67     0.00
0.97             24.67    24.92     1.00
0.98             30.17    28.33    14.00
0.99             23.00    24.08    20.42

## Table 5

In [30]:
df_print = df_all.query("B == 15"
            ).groupby(['alpha', 'lambda0', 'lambda1']
                      ).mean()[['id_exclusion_rr', 'n_rules', 'rule_n_perfect', 'rule_avg_length']].round(2)

In [32]:
for idx, row in enumerate(df_print.values):
    
    index_list = [c for c in df_print.index.values[idx]]
    index_str = "{:.2f} & {:.0e} & {:.0e}".format(*index_list)
        
    value_str = ' & '.join(["{:.2f}".format(c) for c in row])
    
    print(' & '.join([index_str, value_str]) + '\\\\')

0.95 & 0e+00 & 1e-06 & 1.00 & 31.00 & 17.00 & 2.36\\
0.95 & 0e+00 & 1e-04 & 1.00 & 19.33 & 12.00 & 2.25\\
0.95 & 0e+00 & 1e-02 & 0.00 & 5.00 & 0.00 & 1.00\\
0.95 & 1e-06 & 1e-06 & 1.00 & 30.67 & 17.00 & 2.37\\
0.95 & 1e-06 & 1e-04 & 1.00 & 19.33 & 12.00 & 2.25\\
0.95 & 1e-06 & 1e-02 & 0.00 & 5.00 & 0.00 & 1.00\\
0.95 & 1e-04 & 1e-06 & 1.00 & 27.00 & 15.00 & 2.36\\
0.95 & 1e-04 & 1e-04 & 1.00 & 18.33 & 12.00 & 2.23\\
0.95 & 1e-04 & 1e-02 & 0.00 & 5.00 & 0.00 & 1.00\\
0.95 & 1e-02 & 1e-06 & 1.00 & 6.00 & 1.00 & 1.17\\
0.95 & 1e-02 & 1e-04 & 1.00 & 6.00 & 1.00 & 1.17\\
0.95 & 1e-02 & 1e-02 & 0.00 & 5.00 & 0.00 & 1.00\\
0.96 & 0e+00 & 1e-06 & 1.00 & 46.33 & 28.33 & 2.69\\
0.96 & 0e+00 & 1e-04 & 1.00 & 43.67 & 25.00 & 2.43\\
0.96 & 0e+00 & 1e-02 & 0.00 & 4.00 & 0.00 & 1.00\\
0.96 & 1e-06 & 1e-06 & 1.00 & 45.33 & 27.67 & 2.70\\
0.96 & 1e-06 & 1e-04 & 1.00 & 43.67 & 25.67 & 2.41\\
0.96 & 1e-06 & 1e-02 & 0.00 & 4.00 & 0.00 & 1.00\\
0.96 & 1e-04 & 1e-06 & 1.00 & 45.67 & 26.00 & 2.67\\
0.96 & 1e-04 & 1e-04 & 1.00 & 41.00 & 23.00 & 2.41\\
0.96 & 1e-04 & 1e-02 & 0.00 & 4.00 & 0.00 & 1.00\\
0.96 & 1e-02 & 1e-06 & 1.00 & 5.00 & 1.00 & 1.20\\
0.96 & 1e-02 & 1e-04 & 1.00 & 5.00 & 1.00 & 1.20\\
0.96 & 1e-02 & 1e-02 & 0.00 & 4.00 & 0.00 & 1.00\\
0.97 & 0e+00 & 1e-06 & 1.00 & 49.67 & 31.00 & 2.74\\
0.97 & 0e+00 & 1e-04 & 1.00 & 38.00 & 30.00 & 2.51\\
0.97 & 0e+00 & 1e-02 & 1.00 & 4.00 & 1.00 & 1.25\\
0.97 & 1e-06 & 1e-06 & 1.00 & 49.67 & 31.00 & 2.73\\
0.97 & 1e-06 & 1e-04 & 1.00 & 38.00 & 30.00 & 2.51\\
0.97 & 1e-06 & 1e-02 & 1.00 & 4.00 & 1.00 & 1.25\\
0.97 & 1e-04 & 1e-06 & 1.00 & 48.33 & 29.00 & 2.71\\
0.97 & 1e-04 & 1e-04 & 1.00 & 37.33 & 29.33 & 2.55\\
0.97 & 1e-04 & 1e-02 & 1.00 & 4.00 & 1.00 & 1.25\\
0.97 & 1e-02 & 1e-06 & 1.00 & 11.67 & 7.67 & 2.27\\
0.97 & 1e-02 & 1e-04 & 1.00 & 14.33 & 10.33 & 2.43\\
0.97 & 1e-02 & 1e-02 & 1.00 & 4.00 & 1.00 & 1.25\\
0.98 & 0e+00 & 1e-06 & 1.00 & 47.00 & 33.67 & 2.82\\
0.98 & 0e+00 & 1e-04 & 1.00 & 50.67 & 30.33 & 2.74\\
0.98 & 0e+00 & 1e-02 & 1.00 & 27.33 & 16.00 & 1.97\\
0.98 & 1e-06 & 1e-06 & 1.00 & 46.67 & 33.33 & 2.81\\
0.98 & 1e-06 & 1e-04 & 1.00 & 50.67 & 30.33 & 2.74\\
0.98 & 1e-06 & 1e-02 & 1.00 & 27.00 & 15.67 & 1.97\\
0.98 & 1e-04 & 1e-06 & 1.00 & 46.00 & 31.33 & 2.74\\
0.98 & 1e-04 & 1e-04 & 1.00 & 50.67 & 31.00 & 2.74\\
0.98 & 1e-04 & 1e-02 & 1.00 & 28.00 & 16.33 & 1.99\\
0.98 & 1e-02 & 1e-06 & 1.00 & 37.00 & 22.33 & 2.29\\
0.98 & 1e-02 & 1e-04 & 1.00 & 36.67 & 21.67 & 2.26\\
0.98 & 1e-02 & 1e-02 & 1.00 & 13.00 & 8.00 & 1.95\\
0.99 & 0e+00 & 1e-06 & 1.00 & 33.00 & 23.33 & 2.33\\
0.99 & 0e+00 & 1e-04 & 1.00 & 33.00 & 27.33 & 2.33\\
0.99 & 0e+00 & 1e-02 & 1.00 & 28.33 & 21.00 & 1.96\\
0.99 & 1e-06 & 1e-06 & 1.00 & 33.00 & 21.67 & 2.36\\
0.99 & 1e-06 & 1e-04 & 1.00 & 34.33 & 24.67 & 2.30\\
0.99 & 1e-06 & 1e-02 & 1.00 & 28.33 & 21.00 & 1.96\\
0.99 & 1e-04 & 1e-06 & 1.00 & 31.33 & 25.67 & 2.34\\
0.99 & 1e-04 & 1e-04 & 1.00 & 27.00 & 20.67 & 2.17\\
0.99 & 1e-04 & 1e-02 & 1.00 & 28.33 & 21.00 & 1.96\\
0.99 & 1e-02 & 1e-06 & 1.00 & 28.33 & 21.33 & 2.08\\
0.99 & 1e-02 & 1e-04 & 1.00 & 30.67 & 23.67 & 2.11\\
0.99 & 1e-02 & 1e-02 & 1.00 & 25.67 & 18.67 & 1.96\\